body{
    background-color: rgb(138, 50, 173);
    color:white;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #CCFFFF;
}

h1 {
    font-family: cursive;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
