@import "{{ site.theme }}";

*{
    padding: 15px;
    margin: 0%;
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom right, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
    opacity: 10;
    color:white;
}

a {
    color: black;
    text-decoration: none;
}

b {
    color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #B0A8B9;
    
}

img {
    width: 300px;
}

.navigation{
    position: fixed;
    background-image: linear-gradient(to bottom right, #845EC2, #2C73D2, #0081CF, #0089BA, #008E9B, #008F7A);
    width: 91%;
    height: 25%;
    padding-bottom: 5px;
    padding-left: 50px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation li {
    float: left;
    padding-right: 5%;
}


